<nav class="navbar navbar-dark bg-dark" >
  <div class="navbar-collapse ">
    <ul class="nav nav-tabs d-flex flex-row ">
      <div class="d-inline-flex mr-auto">
        <li class="nav-item "  
            routerLinkActive="active">
            <a class="nav-link text-decoration-none text-light" 
              routerLink="posts">Mes articles</a>
        </li>
        <li class="nav-item"  
            routerLinkActive="active" *ngIf="isAuth">
            <a class="nav-link text-decoration-none text-light" 
              routerLink="posts/new">Ajouter un Article</a>
        </li>
      </div>
      <li class="nav-item"  
          routerLinkActive="active" *ngIf="!isAuth">
          <a class="nav-link text-decoration-none text-light" 
            routerLink="auth/signup">Créer un Compte</a>
      </li>

      <li class="nav-item"  
          routerLinkActive="active" *ngIf="!isAuth" >
          <a class="nav-link text-decoration-none text-light" 
            routerLink="auth/signin">Connexion</a>
      </li>
    
      <li class="nav-item"  *ngIf="isAuth" >
          <a (click)="onSignOut()" class="nav-link text-decoration-none text-light" 
              style="cursor: pointer">Déconnexion</a>
      </li>
     </ul>

  </div>
  
</nav>